
#nav .closed {
    background-image: url(../img/ha-down.gif);
    }

#nav .closed, #nav .opened {
    padding-right: 10px;
    background-position: 98% 50%;
    background-repeat: no-repeat;
			
	}

#nav .header {
    display: block;
    }

#nav .opened {
    background-image: url(../img/ha-up.gif);
    }

#nav a {
	display: block;
    font-weight: bold;
    text-decoration: none;
    }

#nav a.hover {
    background: transparent 		
	}

		
#nav ul {
    display: block;
	width: 100%;
	list-style: none;    
    }
		

#nav li {
    width: 100%;
	display: block;
    }
		

#nav li a {
	padding: .6em 2em;
	border-top: 1px solid #9A9A9A;
    border-left: 1px solid #9A9A9A;
	border-bottom: 1px solid rgba(0,0,0, .2);
	border-top: 1px solid rgba(255,255,255, .1);
    }

#nav li.active a, #nav li li.active a {
    border-top: 1px solid #5F5F5F;
    border-bottom: 1px solid #7B7B7B;	
    border-left: 1px solid #757575;
    border-right: 1px solid #9A9A9A;		
    background-color: #404040;
    color: #fff; 
	background: rgba(0,0,0, .3)
    }
#nav li.active li a, #nav li li a {
    padding: .6em 3em;
    border-top: 1px solid #696969;			
    border-left: 1px solid #696969;
    border-right: 1px solid #8A8A8A;		
    border-bottom: 1px solid #7B7B7B;
    background-color: #757575;
    color: #fff; 
	background: rgba(0,0,0, .3)
    }